<div class="container">
  <div class="navbar">
    <ul>
      <a [routerLink]="['/', 'booking-status']">Booking Status</a>
    </ul>
    <ul>
      <a id="logout" (click)="logout()">Logout</a>
    </ul>
  </div>

  <div class="card-section">
    <div class="card" *ngFor="let service of services">
      <div>
        <label><b>Service Name:</b> {{ service.serviceName }}</label>
      </div>
      <div>
        <label><b>Service Description: </b>{{ service.description }}</label>
      </div>
      <div>
        <label><b>Service Charge:</b> ${{ service.charges }}</label>
      </div>
      <div>
        <label><b>Location: </b>{{ service.location }}</label>
      </div>
      <div class="btn-book-div">
        <button class="btn-book" (click)="setBook(service.serviceId)">
          Book
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for booking -->
<div *ngIf="book" class="modal-overlay">
  <div class="modal-content">
    <span class="close" (click)="closeBook()" (click)="enablerror=false">&times;</span>
    <h2>Book Service</h2>
    <div class="form">
      <form [formGroup]="bookingForm" (ngSubmit)="BookService()">
        <div>
          <label class="book-label">Brand:</label>
          <input
            type="text"
            formControlName="brand"
            [ngClass]="{
              'is-invalid': enablerror && !bookingForm.controls['brand'].valid
            }"
          />
          <span *ngIf="enablerror && !bookingForm.controls['brand'].valid"
            >Required!</span
          >
        </div>
        <div>
          <label class="book-label">Model:</label>
          <input
            type="text"
            formControlName="model"
            [ngClass]="{
              'is-invalid': enablerror && !bookingForm.controls['model'].valid
            }"
          />
          <span *ngIf="enablerror && !bookingForm.controls['model'].valid"
            >Required!</span
          >
        </div>
        <div>
          <label class="book-label">Year:</label>
          <input
            type="number"
            formControlName="year"
            [ngClass]="{
              'is-invalid': enablerror && !bookingForm.controls['year'].valid
            }"
          />
          <span *ngIf="enablerror && !bookingForm.controls['year'].valid"
            >Required! (Format: YYYY)</span
          >
        </div>
        <div>
          <label class="book-label">Vehicle Number:</label>
          <input
            type="text"
            formControlName="vehicleNumber"
            [ngClass]="{
              'is-invalid':
                enablerror && !bookingForm.controls['vehicleNumber'].valid
            }"
          />
          <span
            *ngIf="enablerror && !bookingForm.controls['vehicleNumber'].valid"
            >Required!</span
          >
        </div>
        <div>
          <label class="book-label">Date:</label>
          <input
            type="date"
            formControlName="date"
            [ngClass]="{
              'is-invalid': enablerror && !bookingForm.controls['date'].valid
            }"
          />
          <span *ngIf="enablerror && !bookingForm.controls['date'].valid"
            >Required!</span
          >
        </div>
        <div class="pop-up">
          <button  type="submit" class="btn-book">Submit</button>
        </div>
        <div *ngIf="isbooked">Booking...Please wait..</div>
      </form>
    </div>
  </div>
</div>
