<div class="navbar">
  <div class="logo">
    <img src="/biki-logo.png" alt="BikeService Logo">
    <span>BikeService</span>
  </div>
  <div class="login">
    <a [routerLink]="['login']">OWNER LOGIN</a>
  </div>
</div>

<div class="frontcard">
  <div class="content">
    <button [routerLink]="['/','userlogin']">CUSTOMER LOGIN</button>
    <p>"Life is busy, but maintaining your bike shouldn't be a hassle. The BikeService app brings convenience to your fingertips, allowing you to book appointments, track service history, and get reminders for upcoming maintenance. Because taking care of your bike should be as easy as riding it."</p>
  </div>
  <div class="image-container">
    <img src="./bike-home.png" alt="Bike Image"/>
  </div>
</div>
