<div class="container">

  <form>
    <h2>LOGIN</h2>

    <div class="mail">
      <input [(ngModel)]="userLogin.email" (click)="setInvalid=false" name="email" type="email" placeholder="gmail"/>
    </div>

    <div class="password">
      <input [(ngModel)]="userLogin.password" (click)="setInvalid=false" name="password" type="password" placeholder="password"/>
    </div>

    <div class="btn">
      <button (click)="login()" type="submit">Submit</button>
    </div>
    <div *ngIf="setInvalid">
      <div >UnAuthorize Credential</div>
    </div>
    <div class="new">
      <a [routerLink]="['/','useregister']">New User?</a>
    </div>
  </form>
</div>
f
