.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form{
  min-width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 

}
input{
  padding: 15px;
  width: 75%;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */

  background-color: rgba(255, 255, 255, 0.84);
}
.new{
  display: flex;
  justify-content: flex-end;
}
button{
  padding: 15px;
  width: 100px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: black;
}
button:hover{
  background-color: greenyellow;
  color: black;
  width: 100px;
}
a{
  text-decoration: none;
  color:black;
}


.login-card {
  background-color: #F5F5F5; /* Light grayish-green */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside the card */
}
/* .login-card {
  background-color: #F5F5F5; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
} */